body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(248, 243, 200);
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}
header{
    background-color: darkgoldenrod;
    text-align: center;
}
nav{
    display: flex;
justify-content: space-between;
align-items: center;
}
nav li{ 
    display: inline;
    font-size: 25px;
    padding: 30px;
}
nav a{
    text-decoration: none;
    color: beige;
}
nav a:hover{
    text-decoration: underline red;
}
nav img{
    width: 250px;
}
main{
    padding: 30px;
}
.h11{
    box-shadow: 3px 3px 20px;
    margin: 40px;
    padding: 5px;
}
h1{
    text-align: center;
}
section{
    display: flex;
    justify-content: center;
    
}
div{
    flex-direction: column;
}
div p{
    font-size: 25px;
}
div h3{
    color:saddlebrown;
}
div button{
    background-color:blanchedalmond;
    font-size: 24px;
}
div button a{
    text-decoration: none;
    color: red;
}
section img{
    width: 200px;
    margin-left: 20px;
    border-radius: 5px;
}
.Producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    padding: 30px;
    gap: 30px;

}
.productos{
    margin: 30px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(236, 234, 234);
    box-shadow: 1px 1px 10px black;

}
.productos:hover{
    background-color: rgb(238, 243, 212);
    box-shadow: 0px 5px 15px black;
    transform: scale(1.05);
}
footer{
    background-color:darkgoldenrod ;
    font-size: 20px;
    padding: 12px;
    text-align: center;
    color: white;
}